body {

	background-image:url('redstar2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	/*background-blend-mode: lighten;*/
	padding-top: 60px;

	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
}


.centerdiv {
  text-align: center;
  color: white
}

.center{
	left: 50%;

}
