body {
	background-image: url("redstar2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;

}


.centerdiv {
  text-align: center;
  color: white
}

.center{
	left: 50%;

}
