body
{	
	background-image:url('white2.jpg');
	background-repeat: repeat-y;
	/*background-size:1300px 1200px;*/
	/*background-blend-mode: lighten;*/
	padding-top: 60px;
	
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
}