body {
  background-image: url("c.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.button1 {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
  background-color: #71a8da;
  border-radius: 6px;
  outline: none;
}

.button1:hover, .btn2:hover{
  background-color:#7ad8ff;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

.button1:active, .btn2:active {
  background-color: #7affff;
  box-shadow: 1px 3px #444;
  transform: translateX(1px) translateY(3px);
}

.btn2{
  width: 50%;
  padding: 10px;
  border: 3px solid;
  border-radius: 10px;
  margin: 8px;
  color: black;
  font-size: 20px;
  background-color: Transparent;
  display:inline-block;
}
h1,h2 {
  text-align: center;
  color: white
}

.centerdiv {
  text-align: center;
  color: white
}
