<html>

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../static/style.css" rel="stylesheet">
</head>

<body>

<div class="topnav" id="myTopnav"> <!menu bar>
<h1 style="color:white; text-align:center; font-family:algerian; font-size:50px; background-color:black;">
	CREW-MAKE(R) </h1>
<h2 style="font-family:bradley hand ITC; text-align:center; color:white;">
	Temporarily Home Page - just for testing it can be modified later</h2>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  <a href="home.html" class="active">Home</a>
  <a href="{{url_for('index') }}">Request</a>
  <a href="#contact">Crew List</a>
  <a href="about.html">About</a>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>

</html>
