<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">

    <link rel="stylesheet" type="text/css" href = "../static/home_page_style.css">
    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">
    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>
    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>

    <title>THE CREW BUiLDER</title>
  </head>
  <body>
    <div class="container">
        <h1> WELCOME TO THE CREW BUILDER </h1>
        <h2> If you are a film producer or filmmaker this is the app for you </h2>
        <p>yada yada yada</p>
        <a class = button href="{{url_for('index') }}" >Lets start </a>

    </div>
  </body>
</html>
