{% extends "layout.html" %}
{%block body%}
<div style=" font-size:25px; font-family:berlin sans fb; color:white; text-align:center;" >
  <link rel="stylesheet" type="text/css" href = "../static/profiles.css">
  <h1>Welcome to our DBS Finall project applicatin: CREW MAKE</h1>
  <h2>If you are film or TV producer or movie maker from any kind, this is the app for you to look for crew members<h2>
</div>
<div style="font-size:25px; font-family:berlin sans fb; color:white;">
  <ul>
    <li><p> Click the profiles button to search profiles by name or by gender profession and popularity</p></li>
    <li><p> Click the search button to search profiles by many other parameters.</p></li>
    <li><P> Click the Request button to go to the main menu page.</p></li>
  </ul>
</div>
{% endblock %}
