<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href = "../static/style.css">
    <title>THE CREW BUiLDER</title>
  </head>
  <body>
    <div>
      <h1> hey hey</h1>
      <div class = center>
        <a class = btn2 href="{{url_for('q1') }}" >Build the crew from your favorite movies </a>
        <a class = btn2 href="{{url_for('q2') }}" >Build the crew by country </a>
        <a class = btn2 href="{{url_for('q3') }}" >Build the crew by somthing else </a>
        <a class = btn2 href="{{url_for('q4') }}" > 4 Build the crew by another things</a>
        <a class = btn2 href="{{url_for('q5') }}" >5 </a>
        <a class = btn2 href="{{url_for('q6') }}" >6 </a>
      </div>
    </div>
  </body>
</html>
