{% extends "layout.html" %}}
{% block body %}
<div>
  <link rel="stylesheet" type="text/css" href = "../static/style2.css">
  <div class = centerdiv>
    <br></br>
    <br></br>
    <a class = btn2 href="{{url_for('build_by_movie') }}" >Find the crew of your favorite movies </a>
    <a class = btn2 href="{{url_for('build_by_country') }}" >Find the available crew in your country </a>
    <a class = btn2 href="{{url_for('find_movie_by_key_words') }}" >Find movie by key words </a>
    <a class = btn2 href="{{url_for('build_diversity') }}" >Check out the gender diversity of films crews </a>
  </div>
</div>
{% endblock %}
