{% extends "layout.html" %}
{% block body %}

<div>
  <link rel="stylesheet" type="text/css" href = "../static/profiles.css">
</div>

<div style="font-size:25px; font-family:berlin sans fb; color:white; text-align:center;">
	<p style="font-size:30px;">Choose the perfect people for your crew!</p>
	<br>
	<form name="myForm" action="/search_profile_by_name" method="post">
	  <label for="name">Search by name:</label>
	  <input type="text" id="fname" name="name">
	  <input type="submit" value="Search">
	</form>

	<p style=" font-size:30px">OR</p>

	<form action="/profiles_res" method="post">
	  <label for="gender">Gender:</label>
	  <select name="gender" id="gender">
			<option value="All">All</option>
			<option value="0">Male</option>
			<option value="1">Female</option>
	  </select>

	  <label>Profession:</label>
	  <select id="role" name="role">
			<option value="All">All</option>
				{% for r in roles %}
            <option value = "{{r[0]}}" > {{r[0]}} </option>
				{% endfor %}
	  </select>

	  <label>Popularity:</label>
	  <select id="pop" name="pop">
	    <option value="0">All</option>
		<option value="1">1+</option>
		<option value="2">2+</option>
		<option value="3">3+</option>
		<option value="4">4+</option>
		<option value="5">5+</option>
		<option value="6">6+</option>
		<option value="7">7+</option>
		<option value="8">8+</option>
		<option value="9">9+</option>
		<option value="10">10+</option>
		<option value="15">15+</option>
	  </select>

	  <br><br>

	  <label for="orderby">Order by:</label>
	  <select name="orderby" id="orderby">
		<option value="1">Popularity</option>
		<option value="3">Age</option>
		<option value="2">Name</option>
	  </select>

	  <input type="submit" value="Search">

	<br><br>
	<h1>Job descriptions:</h1>
	{% for j in lst2 %} 

	<li style="font-size:25px; text-align:center">{{j[0]}}:</li>
	<p style="font-size:20px">{{j[1]}}</p><br>
	{% endfor %}
		</form>

</div>

{% endblock %}
