{% extends "layout.html" %}}
{% block body %}

<div  style="font-size:25px; font-family:berlin sans fb; color:black;">
	<link rel="stylesheet" type="text/css" href = "../static/s.css">
	<p style="color:red; text-align:center;">Find your own crew now!</p>
	<form action="/search_results" method="post" style="color:black">
		<h1> Crew parameters: </h1>
		<li>
			<label>Number of crew members:</label>
			<input type="number" id="number" value="1"> 
		</li>
		<li>
				<label>Department:</label>
				<select name="department" id="department">
					<option value="All">All</option>
							{% for l in lst[:-1] %}  <! ignoring null >
					<option value="{{l[0]}}">{{l[0]}}</option>
							{% endfor %}
				</select>
		</li>
		<li>
			<label>Age:</label>
			<label>from: <input type="number" id="from" value="1"></label>
			<label>to: <input type="number" id="to" value="100"></label> 
		</li>
		<li>
			<label>Gender: </label>
			<select>
				<option value="both">Both</option>
				<option value="0">Only males</option>
				<option value="1">Only females</option>
			</select>
		</li>
		<li>
			<label>Popularity: </label>
			<select>
				<option value="0">All</option>
				<option value="1">1+</option>
				<option value="2">2+</option>
				<option value="3">3+</option>
				<option value="4">4+</option>
				<option value="5">5+</option>
				<option value="6">6+</option>
				<option value="7">7+</option>
				<option value="8">8+</option>
				<option value="9">9+</option>
				<option value="10">10+</option>
			</select>
		</li>
		<h1> Movie parameters: </h1>
		<li><label>Language:</label><br>
				<input type="checkbox" name="all" value="all">All</input>
						{% for lan in languages %}
				<label><input type="checkbox" name="{{lan[0]}}" value="{{lan[0]}}">{{lan[0]}}
				</input></label>
						{% endfor %}
		</li>  
		<li><label>Country:</label>
			<select name="country" id="cauntry">
				<option value="All">All</option>
						{% for c in countries %}
				<option value="{{c[0]}}">{{c[0]}}</option>
						{% endfor %}
			</select>
		</li>
		<li><label>Genre:</label><br>
				<input type="checkbox" name="all" value="all">All</input>
						{% for g in genres %}
				<label><input type="checkbox" name="{{g[0]}}" value="{{g[0]}}">{{g[0]}}
				</input></label>
						{% endfor %}
		</li> 

		<br><input type="submit" value="Find">
	  </form>
</div>

{% endblock %}